<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MeteoInfo File="config.xml" Type="configurefile">
  <Path OpenPath="/Users/hayatitastan/IdeaProjects/MeteoInfo-GIS/auxdata/colormaps"/>
  <Font>
    <TextFont FontName="YaHei Consolas Hybrid" FontSize="14"/>
    <LegendFont FontName="Dialog" FontSize="12"/>
  </Font>
  <ScriptLanguage Language="Jython"/>
  <LookFeel LafDecorated="true" Name="FlatLightLaf"/>
  <Figure DoubleBuffering="true"/>
  <Startup MainFormLocation="26,44" MainFormSize="1293,685" ShowMeteoDataDlg="false"/>
</MeteoInfo>
